<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">Green Waters</a>
    </div>
    <div class="navbar-default">
      <ul class="nav navbar-nav">
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/search">Search</a></li>
        <li><a routerLink="/post">Post</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" role='button'>Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Save Data</a></li>
            <li><a href="#">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
